.time_container {
  display: flex;
  gap: 7px;
  font-family: "Outfit";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(139, 172, 217, 1);
}
