@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  background-color: rgba(13, 25, 44, 1);
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 596px;
  border: 1px solid white;
  background-color: rgba(21, 38, 63, 1);
}

h1 {
  font-family: "Outfit";
  font-weight: 450;
  font-style: SemiBold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  color: white;
}
